.main-card-content {
    padding: 26px 6px 6px 6px;

    h1 {
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 12px;
    }
}

.form-container {
    padding: 2px;
}

.padding-top {
    padding-top: 12px;
}

.submit-button {
    margin-top: 24px;
}