<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- SaleSavie -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <!-- SaleSavie -->
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content class="main-card-content">
    <div class="form-container">
      <h1>Create Account</h1>
    </div>
    <div class="form-container">
      <ion-input label="Email" label-placement="floating" type="email" fill="outline" class="link-input always-float-label" [(ngModel)]="email" mode="md" (click)="clearEmail()" (ionBlur)="placeholderEmail()"></ion-input>
    </div>
    <div class="form-container padding-top">
      <ion-input label="Password" label-placement="floating" type="password" fill="outline" class="link-input" placeholder="" mode="md"></ion-input>
    </div>
    <div class="form-container padding-top">
      <ion-input label="Confirm Password" label-placement="floating" type="password" fill="outline" class="link-input" placeholder="" mode="md"></ion-input>
    </div>
    <ion-button class="submit-button" color="primary" shape="round" size="default" expand="block">
      <span>Create Account</span>
    </ion-button>
    
    <div class="divider">
      <span>OR</span>
    </div>
    
    <ion-button color="secondary" shape="round" size="default" expand="block" (click)="signInWithGoogle()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      <span>Continue with Google</span>
    </ion-button>

    <div class="form-container" style="text-align: center; margin-top: 10px;">
      <ion-label>
        Already have an account?
        <a (click)="goToSignIn()">Sign in</a>
      </ion-label>
    </div>
  </ion-card-content>
  <ion-card>
  </ion-card>
</ion-content>