<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="title-text">SaleSavie</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="user-menu-trigger" aria-label="User menu">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover #popover trigger="user-menu-trigger" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-list lines="full">
            <ion-item>
              <ion-button style="width: 100%;" expand="block" color="secondary" fill="clear" (click)="openDonateSheetModalClicked(); popover.dismiss()" aria-label="Donate">
                <ion-icon slot="start" name="logo-paypal"></ion-icon>
                Donate
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-button style="width: 100%;" expand="block" color="secondary" fill="clear" (click)="openHowToUsePageClicked(); popover.dismiss()" aria-label="Settings">
                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                How to use
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-button style="width: 100%;" expand="block" color="danger" fill="clear" (click)="logout(); popover.dismiss()" aria-label="Logout">
                <ion-icon slot="start" name="log-out-outline"></ion-icon>
                Logout
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment
    [(ngModel)]="segmentValue"
    mode="ios"
    class="footer-segment-style"
    (ionChange)="segmentChange($event)"
  >
    <ion-segment-button value="tracker">
      <ion-text>
        <ion-icon name="pricetag-outline"></ion-icon>
        Price Tracker
      </ion-text>
    </ion-segment-button>
    <ion-segment-button value="checker">
      <ion-text>Stock Checker</ion-text>
    </ion-segment-button>
    <ion-segment-button value="pick">
      <ion-text>Savvy Picks</ion-text>
    </ion-segment-button>
  </ion-segment>

  <!-- Router outlet for child pages -->
    <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-button (click)="openDonateSheetModalClicked()" class="fixed-donate-button" shape="round" size="large">
  <ion-icon slot="icon-only" name="logo-paypal"></ion-icon>
</ion-button>
<ion-modal
  [isOpen]="openDonateSheetModal"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 0.25, 0.5, 0.75, 1]"
  (ionModalDidDismiss)="openDonateSheetModal = false"
>
  <ng-template>
    <ion-content class="ion-padding">
      <div class="donate-card">
        <h2 class="donate-heading">Support SaleSavie</h2>
        <p class="donate-message">Support SaleSavie, built and maintained by a solo developer! Your contribution helps keep the app running smoothly with bug fixes, updates, and server upkeep. Every amount fuels my passion to deliver a great experience, thank you!</p>

        <div class="donate-container">
          <a href="https://www.paypal.com/ncp/payment/X53JZ9ZFAW79S" target="_blank" class="donate-button">
            <ion-button expand="block" class="paypal-button">
              <ion-icon slot="start" name="logo-paypal"></ion-icon>
              Fund My App
            </ion-button>
          </a>
          <div class="payment-info">
            <img src="https://www.paypalobjects.com/images/Debit_Credit.svg" alt="cards" class="payment-cards" />
            <section class="paypal-powered">Powered by <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" /></section>
          </div>
          <div class="qrcode-container">
            <p>OR Scan to donate</p>
            <div class="qrcode-wrapper">
              <img src="/assets/qrcode.png" alt="Donation QR Code" />
            </div>
          </div>
          <div class="donate-link">
            <a href="https://www.paypal.com/ncp/payment/X53JZ9ZFAW79S" target="_blank">
              https://www.paypal.com/ncp/payment/X53JZ9ZFAW79S
            </a>
          </div>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
